body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("addressbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Maven Pro', sans-serif;
    
}

#addressContainer {
    margin: 10px 120px;
    background-color: rgba(179, 178, 176, 0.6);
    border-radius: 5px;
    padding: 20px;
}

form {
  margin-right: 20px;
  border-radius: 5px;
}

#welcomeMsg {
    color: #ffffff;
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    resize: vertical;
}
#addBtn {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
}
#contactsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contactCards {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.contactCards > ul {
    padding: 0;
    margin:0;
}
.contactCard{
    margin:0;
    padding:0;
}
